.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.css-1oqqzyl-MuiContainer-root{
  max-width: none !important;
  margin-left: unset !important; 
}

.css-hyum1k-MuiToolbar-root{
  justify-content: space-between !important;
}

.css-15wwp11-MuiTableHead-root{
  background-color:  #C7F1DD;
}

.leftMenuItems{
  display: flex;
  align-items: center;
}

.minidrawer-styles{
  display: flex;
  width: 300px;
  padding: 1px 0px 358px 0px;
  flex-direction: column;
  align-items: center;

  border-right: 1px solid var(--Line-separator, #F1F1F1);
  background: var(--Secondary, #FFF);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
